<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="fixed-top">
      <app-nav></app-nav>
    </header>

    <section class="grid-decoration">
      <img
        src="/img/grid-decoration.svg"
        alt=""
        class="grid-decoration__left w-50 h-auto"
      />
      <img
        src="/img/grid-decoration.svg"
        alt=""
        class="grid-decoration__right w-50 h-auto"
      />
    </section>

    <main>
      <story-form></story-form>
    </main>
    <footer>
      <app-footer>
        <a
          href="https://instagram.com/nouvalrz"
          slot="instagram-icon"
          class="text-black"
          target="_blank"
          ><i class="bi bi-instagram fs-2"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/nouvalrz/"
          slot="linkedin-icon"
          class="text-black"
          target="_blank"
        >
          <i class="bi bi-linkedin fs-2"></i
        ></a>
        <a
          href="https://github.com/nouvalrz"
          slot="github-icon"
          class="text-black"
          target="_blank"
          ><i class="bi bi-github fs-2"></i
        ></a>
      </app-footer>
    </footer>
  </body>
</html>
